In [1]:
import pandas as pd

In [4]:
income = pd.read_csv('../data/bus_area_income_ma.csv', index_col=0)
stop_route_map = pd.read_csv('../data/bus_stop_route_mapping.csv', index_col=0)

In [10]:
income = income.drop(columns=['route'])

In [11]:
income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8134 entries, 10100 to 985600
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   geometry                 8134 non-null   object
 1   OBJECTID                 8134 non-null   int64
 2   stop_id                  8134 non-null   object
 3   stop_code                6524 non-null   object
 4   stop_name                8134 non-null   object
 5   stop_lat                 8134 non-null   float64
 6   stop_lon                 8134 non-null   float64
 7   stop_url                 1222 non-null   object
 8   location_type            8083 non-null   float64
 9   parent_station           27 non-null     object
 10  wheelchair_boarding      6312 non-null   float64
 11  Agency                   8134 non-null   object
 12  median_household_income  8134 non-null   float64
 13  county                   8134 non-null   int64
 14  population               8134 non-null   int64
dtypes: float64(5), int64(3), object(7)
memory usage: 1016.8+ KB

In [12]:
result = pd.merge(income, stop_route_map, on='stop_id', how='inner')

In [9]:
result

,geometry_x,OBJECTID_x,stop_id,stop_code,stop_name,stop_lat,stop_lon,stop_url,location_type,parent_station,wheelchair_boarding,Agency,median_household_income,county,population,route,OBJECTID_y,geometry_y,route_id
0,POINT (-70.18922771099994 42.05276701300005),6294,2455484,NaN,Provincetown Monument,42.052767,-70.189228,NaN,0.0,NaN,0.0,CapeCodRTA,50741.0,1,300,NaN,6294,POINT (-7813429.08796164 5168886.966856966),2982
1,POINT (-70.18623999999994 42.05095800000004),6378,800616,75.0,"MacMillan Pier, Provincetown",42.050958,-70.186240,NaN,0.0,NaN,0.0,CapeCodRTA,50741.0,1,300,NaN,6378,POINT (-7813096.497494482 5168615.764336213),2980
2,POINT (-70.19527599999998 42.05053400000003),6379,800617,76.0,"Stop & Shop, Provincetown",42.050534,-70.195276,NaN,0.0,NaN,0.0,CapeCodRTA,50741.0,1,300,NaN,6379,POINT (-7814102.380413295 5168552.200477044),2980
3,POINT (-70.19271699999996 42.06563000000006),6392,800631,90.0,"Beech Forest, Provincetown",42.065630,-70.192717,NaN,0.0,NaN,0.0,CapeCodRTA,50741.0,1,300,NaN,6392,POINT (-7813817.513836353 5170815.575161857),2982
4,POINT (-70.21644699999996 42.04381300000006),6393,800632,91.0,"Herring Cove Beach, Provincetown",42.043813,-70.216447,NaN,0.0,NaN,0.0,CapeCodRTA,50741.0,1,300,NaN,6393,POINT (-7816459.125352878 5167544.680021845),2982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8964,POINT (-69.98485999999997 41.26237000000003),6233,811404,193.0,Sconset Golf Course (Inbound),41.262370,-69.984860,NaN,0.0,NaN,0.0,MontachusettRTA,106648.0,19,150,NaN,6233,POINT (-7790678.978438536 5051118.544616343),2887
8965,POINT (-69.97302999999994 41.26221000000004),6234,811405,194.0,New Street (Inbound),41.262210,-69.973030,NaN,0.0,NaN,0.0,MontachusettRTA,106648.0,19,150,NaN,6234,POINT (-7789362.068862449 5051094.85011403),2887
8966,POINT (-71.00668899999994 41.63204100000007),6629,798770,5352.0,Umass Dartmouth at Ring Road,41.632041,-71.006689,NaN,0.0,NaN,0.0,SoutheasternRTA,83229.0,5,750,NaN,6629,POINT (-7904428.462396332 5106019.34328528),2909
8967,POINT (-71.00421565299996 41.62854837300006),7480,810125,5009.0,Umass Dartmouth Campus Center,41.628548,-71.004216,NaN,0.0,NaN,0.0,SoutheasternRTA,83229.0,5,750,NaN,7480,POINT (-7904153.13066774 5105499.175981934),2909
8968,POINT (-71.07355799999993 42.05490200000003),377,799544,485.0,Belmont St at Stonehill College,42.054902,-71.073558,NaN,0.0,NaN,0.0,BrocktonAreaRTA,121711.0,5,600,NaN,377,POINT (-7911872.285426188 5169207.048489005),2941

In [13]:
result.to_csv('../data/result.csv') 
# has bus stop, route, population, income
# need ridership